<a href="https://colab.research.google.com/github/nhs-pycom/coding-club-IntroPython-6/blob/main/IntroPython_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**The NHSX Analytics Unit introduction to Python Session 6**

Python for Data Analysis by Wes McKinney was used as a key resource for this session. 

In Intro to Python 5 we looked at some basic Pandas functionality, covering the series and dataframes data structures, and some basic functionality including, creating, importing, examining, appendingm dropping and selecting. 

The session will continue looking at some basic functionality in pandas, along with with a couple of lesser used methods that you may find useful. 

We will look at sorting data, grouping data, reindexing, working with multi indexes and arithmetic on dataframes. We will also take a look at the pivot and shift functions.

As Pandas is not part of base Python, it must be imported if we want to use any functions within it. Pandas is traditionally imported with the alias 'pd'.

Any function we use from pandas has to be proceeded by 'pd.' so Python knows to look in the Pandas package to find the function.

In [ ]:
import pandas as pd

##**Sorting a Dataframe** 
The next piece of basic Pandas functionality we are going to look at is sorting. To begin, we are going to load a csv file hosted on github that contains some performance information on a handful of movies.

In [36]:
movie_df = pd.read_csv('https://raw.githubusercontent.com/nhs-pycom/coding-club-IntroPython-6/main/movies.csv')

In [24]:
#Lets take a quick look at the dataset 
movie_df.head()

                                 Film      Genre  ... Worldwide Gross  Year
0  You Will Meet a Tall Dark Stranger     Comedy  ...         $26.66   2010
1                        When in Rome     Comedy  ...         $43.04   2010
2               What Happens in Vegas     Comedy  ...        $219.37   2008
3                 Water For Elephants      Drama  ...        $117.09   2011
4                              WALL-E  Animation  ...        $521.28   2008

[5 rows x 8 columns]

In [42]:
#if we use the describe functionality from the last session, and use include=all to inlcude categorical columns, we can see there are 71 entries, across ten genres, produced by 12 studios. 
movie_df.describe(include='all')

              Film   Genre  ... Worldwide Gross         Year
count           71      71  ...       71.000000    71.000000
unique          69      10  ...             NaN          NaN
top     Mamma Mia!  Comedy  ...             NaN          NaN
freq             2      37  ...             NaN          NaN
mean           NaN     NaN  ...      142.534930  2009.042254
std            NaN     NaN  ...      164.120882     1.367340
min            NaN     NaN  ...        0.030000  2007.000000
25%            NaN     NaN  ...       33.030000  2008.000000
50%            NaN     NaN  ...       79.180000  2009.000000
75%            NaN     NaN  ...      193.970000  2010.000000
max            NaN     NaN  ...      709.820000  2011.000000

[11 rows x 8 columns]

In [41]:
#Annoyingly, there are dollar signs in the wordlwide gross column, which makes pandas think it is a string. For some reason there isn't any built in way to deal with this, so we'll just use the replace method to strip the dollar signs out. 
movie_df['Worldwide Gross'] = movie_df['Worldwide Gross'].replace('[\$,]', '', regex=True).astype(float)

In [49]:
#We might learn something interesting by sorting this data in a number of different ways. Initially, lets try sorting by audience score. We can use the sort_values method. Its mandatory to pass the 'by' argument when using this method, to tell pandas which column to sort by. 
movie_df.sort_values(by = "Audience score %")

                                  Film      Genre  ... Worldwide Gross  Year
0   You Will Meet a Tall Dark Stranger     Comedy  ...           26.66  2010
42                        Love Happens      Drama  ...           36.08  2009
16                  The Heartbreak Kid     Comedy  ...          127.77  2007
1                         When in Rome     Comedy  ...           43.04  2010
49                             Killers     Action  ...           93.40  2010
..                                 ...        ...  ...             ...   ...
66                 Across the Universe    romance  ...           29.37  2007
37                   Midnight in Paris    Romence  ...          148.66  2011
20                             Tangled  Animation  ...          355.01  2010
4                               WALL-E  Animation  ...          521.28  2008
68                  A Dangerous Method      Drama  ...            8.97  2011

[71 rows x 8 columns]

In [48]:
#By default the the method sorts ascending. If we want to sort it descending, we can add another argument.  
movie_df.sort_values(by = "Audience score %", ascending = False)

                                  Film      Genre  ... Worldwide Gross  Year
68                  A Dangerous Method      Drama  ...            8.97  2011
4                               WALL-E  Animation  ...          521.28  2008
20                             Tangled  Animation  ...          355.01  2010
37                   Midnight in Paris    Romence  ...          148.66  2011
66                 Across the Universe    romance  ...           29.37  2007
..                                 ...        ...  ...             ...   ...
49                             Killers     Action  ...           93.40  2010
1                         When in Rome     Comedy  ...           43.04  2010
16                  The Heartbreak Kid     Comedy  ...          127.77  2007
42                        Love Happens      Drama  ...           36.08  2009
0   You Will Meet a Tall Dark Stranger     Comedy  ...           26.66  2010

[71 rows x 8 columns]

In [60]:
#We can also sort by multiple criteria by passing a list of columns as the by argument. The rows will be sorted in the reverse of the order in the list.
movie_df.sort_values(by = ['Year', 'Genre', 'Audience score %'], ascending = False)

                       Film    Genre  ... Worldwide Gross  Year
37        Midnight in Paris  Romence  ...          148.66  2011
51                Jane Eyre  Romance  ...           30.15  2011
9   Twilight: Breaking Dawn  Romance  ...          702.17  2011
29                  One Day  Romance  ...           55.24  2011
6       Waiting For Forever  Romance  ...            0.03  2011
..                      ...      ...  ...             ...   ...
63                Enchanted   Comedy  ...          340.49  2007
31          No Reservations   Comedy  ...           92.60  2007
56          Good Luck Chuck   Comedy  ...           59.19  2007
45           License to Wed   Comedy  ...           69.31  2007
16       The Heartbreak Kid   Comedy  ...          127.77  2007

[71 rows x 8 columns]

In [50]:
#These changes have not been applied to the original dataframe and are not saved. If we wanted to  make the change 'permanent', we could either assign the result back to the original dataframe, or use the inplace argument. Both work, but the inplace argument is considered neater. 
movie_df.sort_values(by = "Audience score %", ascending = False, inplace = True)
print(movie_df)

                                  Film      Genre  ... Worldwide Gross  Year
68                  A Dangerous Method      Drama  ...            8.97  2011
4                               WALL-E  Animation  ...          521.28  2008
20                             Tangled  Animation  ...          355.01  2010
37                   Midnight in Paris    Romence  ...          148.66  2011
66                 Across the Universe    romance  ...           29.37  2007
..                                 ...        ...  ...             ...   ...
49                             Killers     Action  ...           93.40  2010
1                         When in Rome     Comedy  ...           43.04  2010
16                  The Heartbreak Kid     Comedy  ...          127.77  2007
42                        Love Happens      Drama  ...           36.08  2009
0   You Will Meet a Tall Dark Stranger     Comedy  ...           26.66  2010

[71 rows x 8 columns]

In [61]:
#It is also possible to sort by both the row and column indices. This is not used as commonly, and is more useful on datasets with a meaningful index. However, we can still use it to return the movies dataset to its original order. The 'by' argument is not required here, as there is only one index to choose from.  
movie_df.sort_index(inplace = True)
print(movie_df)

                                  Film      Genre  ... Worldwide Gross  Year
0   You Will Meet a Tall Dark Stranger     Comedy  ...           26.66  2010
1                         When in Rome     Comedy  ...           43.04  2010
2                What Happens in Vegas     Comedy  ...          219.37  2008
3                  Water For Elephants      Drama  ...          117.09  2011
4                               WALL-E  Animation  ...          521.28  2008
..                                 ...        ...  ...             ...   ...
66                 Across the Universe    romance  ...           29.37  2007
67                       A Serious Man      Drama  ...           30.68  2009
68                  A Dangerous Method      Drama  ...            8.97  2011
69                          27 Dresses     Comedy  ...          160.31  2008
70                (500) Days of Summer     comedy  ...           60.72  2009

[71 rows x 8 columns]

In [53]:
#You can also sort by the column index by specifycing axis=1. This reorders the columns by alphabetical order. 
movie_df.sort_index(axis = 1)

    Audience score %                                Film  ... Worldwide Gross  Year
68                89                  A Dangerous Method  ...            8.97  2011
4                 89                              WALL-E  ...          521.28  2008
20                88                             Tangled  ...          355.01  2010
37                84                   Midnight in Paris  ...          148.66  2011
66                84                 Across the Universe  ...           29.37  2007
..               ...                                 ...  ...             ...   ...
49                45                             Killers  ...           93.40  2010
1                 44                        When in Rome  ...           43.04  2010
16                41                  The Heartbreak Kid  ...          127.77  2007
42                40                        Love Happens  ...           36.08  2009
0                 35  You Will Meet a Tall Dark Stranger  ...           26.66  2010

[71 rows x 8 columns]

In [ ]:
#Task 1
#Sort dataframe by profitability and Lead Studio and reorganise the columns into reverse alphabetical. Make both changes inplace.

#GROUPBY#

#MULTI INDEX SORTING#