<a href="https://colab.research.google.com/github/nhs-pycom/coding-club-IntroPython-6/blob/main/IntroPython_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**The NHSX Analytics Unit introduction to Python Session 6**

Python for Data Analysis by Wes McKinney was used as a key resource for this session.

As Pandas is not part of base Python, it must be imported if we want to use any functions within it. Pandas is traditionally imported with the alias 'pd'.

Any function we use from pandas has to be proceeded by 'pd.' so Python knows to look in the Pandas package to find the function.

In [ ]:
import pandas as pd

# **11. Pandas Series:**

A Pandas series is a one dimensional object that contains a single data type, similar to an array. The key feature that separates it from an array is that the sequence of values has an associated sequence of labels. A good way to think of a series is a fancy numpy array, where each value in the array gets a name.

This is probably a good moment to also note that, confusingly, Pandas uses different names for data types than base python. They are mostly close enough to be obvious, with the exception of strings, which Pandas calls 'objects'.

##**Creating a Series**

We can create a series in lots of different ways, but here we will create one from a list using the Pandas Series function. 

We see the series in the output below, with the index on the left, and the values we specified on the right. It also tells us the data type of the series, which we can see Pandas correctly inferred was an integer, and so set to int64. 

If we change one of the inputs to a float, the dtype for the whole series will change to float64. This is because a series may only contain one data type.

In [ ]:
#note the capitalisation on Series
demo_series = pd.Series([1337, 66, 42.5])
print(demo_series)

We can access the index and the values attributes of a series separately:

In [ ]:
print(demo_series.index)

print(demo_series.values)

As we did not define an index, Python created a default one in the form of a range-like object, with values from 0 to n-1.

If we want to specify the range instead of using a default one, we can do so as the series is created:

In [ ]:
demo_series = pd.Series([1337, 66, 42], index = ['a','b','c'])
print(demo_series)

In [ ]:
#We can also update the index of an existing series:
demo_series.index = ['d','e','f']
print(demo_series)

We can use the index to access specific values in the list.

In [ ]:
print(demo_series['f'])

In [ ]:
#we can pass multiple index values with a list
print(demo_series[['f','e']])

In [ ]:
#Task 61: create a series of 5 items, which does not use the default index. Access an item in the list using its index.

In [ ]:
#Task 62: There are multiple ways to create a series. Try to make one out of this dictionary. Does anything interesting happen?
demo_dict = {"Bird": "Sparrow", "Mammal": "Dog", "Fish": "Cod"}

You may not often see series' used on their own in Python. However, it was important to cover them, as they are the building blocks of Pandas most *exciting* feature.....

# **12. Pandas Dataframes:**

A dataframe is a two dimensional* table of data, similar to something you might work with in a spreadsheet. It can be thought of a a collection of series which all share the same index. 

Each series contains a single data type, but that can vary between series, meaning a dataframe as a whole can contain multiple datatypes.

![series_df.PNG]()

*dataframes can have more than two dimensions, but don't worry about that for now.

##**Creating a Dataframe**

Like series, dataframes can be created in lots of different ways. Here we are going to create one with a list of lists.

Each sub-list contains a row in the dataframe. As with series, we have to specify the index values or use the default values, but with a dataframe we have both the row and column names  to think about. 

I have specificed the column names, but I'm going to leave the row index as default as that seems appropriate for this data.

In [ ]:
#note the capitalisation in DataFrame
demo_df = pd.DataFrame([['joe',30,5],['jerry',40,6],['jemma',25,6]],columns=['name','age','height'])
print(demo_df)

In [ ]:
#Task 63: Create a dataframe with the following info. BONUS POINTS if you can do it using a dictionary or even a dictionary of dictionaries.
#remember that each column is a series
#Dog    age   colour
#Fido   2     grey 
#Spot   3     white
#Lassie 4     red

This is also probably a good point to untangle some ambiguous terminology. As we have seen, a dataframe has a set of row names and column names. These are sometimes both refererred to as an index. However, in a dataframe object, the row index attribute is simply called 'index', whereas the column index is called 'columns'.  I am going to stick to that for the rest of the session. 

Additionally, selecting particular sets of data is also sometimes called 'indexing', but I'm going to avoid that where possible.

##**Importing a CSV file to a dataframe**

A extremely useful feature of Pandas is that is has a function which handles importing an external csv file into Python as a dataframe. Importing files in base python can be fiddly, but the Pandas function read_csv handles opening the file and copying the data with a single command.

In [ ]:
#The file we are using is stored on the github repo, so the file location is the url.
#If it was on your local machine, it would be the file path there instead, e.g. C:\desktop\people.csv.
#To save space, we'll store the url in a variable. 

file_location = "https://raw.githubusercontent.com/nhs-pycom/coding-club-IntroPython-5/main/people.csv"

demo_df2 = pd.read_csv(file_location)
print(demo_df2)

The file has been read and loaded into a dataframe successfully, but we can see that the data is quite messy and needs some cleaning. Fortunately, *read_csv* has lots of ways that you can use to help it understand how you want it to read the data. 

To start with, there are rows of junk text at the end of this file. We can use *skipfooter* to tell it to ignore them. Additionally there is a column that contains nonsense. We can exclude that using the *usecol* argument to specify which columns we do want. 

It also looks like the column ID might be appropriate to use as an index, so lets tell the function to use that instead of generating a default one, using 'index_col'.

(Setting the engine to python is required to prevent an warning related to the skipfooter argument, don't worry about that at this point).

In [ ]:
demo_df2 = pd.read_csv(file_location, skipfooter=2, engine='python', index_col='ID',
usecols=['ID', 'Name', 'Age', 'Favourite Colour', 'Date of Birth', 'Height'])

print(demo_df2 , "\n")

demo_df2.dtypes

This looks a lot better, we have gotten rid of the junk rows, excluded the column we don't want, and set the index appropriately. 

However, the dtypes attribute shows that the DOB and Height columns have been read as objects (aka strings). We may want to perform operations on these columns, so need them set to the proper datatypes. 

We can use *parse_dates* to tell Pandas to treat the DOB column as a datetime object. 

The Height column is being read as an object because it contains commas. We can tell Pandas the commas are just thousand dividers using the argument *thousands*.

In [ ]:
demo_df2 = pd.read_csv(file_location, parse_dates=["Date of Birth"], thousands=",", skipfooter=2, engine='python',
index_col='ID', usecols=['ID', 'Name', 'Age', 'Favourite Colour', 'Date of Birth', 'Height'])

print(demo_df2, "\n")

print(demo_df2.dtypes)

Now all of our columns are the correct datatype. There are many more arguments not covered here that can be used to deal with messy csv data.

In [ ]:
#Task 64. Here is the URL for a dataset we're going to be looking at later on. Load it into a dataframe called "cereal_df"
https://raw.githubusercontent.com/nhs-pycom/coding-club-IntroPython-5/main/cereal.csv

##**Examining a Dataframe**

Here are a few useful commands you can use to examine a dataframe:

In [ ]:
#Returns the top 5 rows in a dataframe. Tail does the same for the last 5 rows. 
demo_df2.head()

In [ ]:
#provides descriptive stats for each column. Only includes numeric columns unless you use the include='all' argument. Only certain stats can be applied to non-numeric fields.
demo_df2.describe()

In [ ]:
#can also produce stats for individual columns. These are useful if you want to assign them to a variable and use as an input elsewhere. 
a = demo_df2['Height'].max()
b = demo_df2['Height'].mean()

print("Max:", round(a,1), " Mean:", round(b,1))

In [ ]:
#Task 65: calculating the range of the age column by finding the max, and deducting the min from it.

##**Appending and Dropping rows and columns**

A new column can be easily added by picking a name and assigning some data. Here we have added a rank column to the dataframe.

In [ ]:
ranks = ['Captain', 'Executive Officer', "Warrant Office", "Science Officer", "Navigator", "Chief Engingeer", "Engineering Technician", "Cat"]

demo_df2['Rank'] = ranks
print(demo_df2)

If we have another dataframe with the same columns, we can append it to the end of our dataframe. with the .append method. Any columns not present in the original will be added to the original dataframe and populated with nulls.

The process creates a new object rather than updating the original. If we wanted to make this change permanent, we would need to assign the output of this process back to the original dataframe name.

In [ ]:
demo_df2_new_row = pd.DataFrame([['Xeno',1,'red','29/06/1982', 'acid', 1900, 'Stowaway']], columns =['Name', 'Age', 'Favourite Colour', 'Date of Birth', 'Blood Type', 'Height', 'Rank'], index = ["99999"])
demo_df2_new_row["Date of Birth"] = pd.to_datetime(demo_df2_new_row["Date of Birth"])  

demo_df2.append(demo_df2_new_row)

You can drop a row or column using its index using the drop method. You specify if it is a row (axis = 0) or column (axis = 1).

In [ ]:
demo_df2.drop('Age', axis = 1)

In [ ]:
#If you add the argument inplace=True, the method will modify the actual dataframe, rather than creating a new one. 
#Be careful though, this means the element you drop is permanently gone. We will make a copy of our dataframe to do this. 
demo_df2_copy = demo_df2.copy()

demo_df2_copy.drop('H5655', axis = 0, inplace = True)
print(demo_df2_copy)

In [ ]:
#Task 66: drop Lambert's entry, and the height column, from the copy of the dataframe.

##**Selecting Data In a Dataframe** 

The mechanisms to select data from a dataframe are a bit unintuitive. However, learning them properly can help to mitigate that. 

You can select data by passing one or more column names. However, this only works for columns, and passing row indexes will result in an error.

In [ ]:
print(demo_df2['Name'])

print(demo_df2[['Name','Age']])

In [ ]:
#EXCEPTION1 - Passing it a slice will give you rows. This is both annoying and useful. 
demo_df2[3:6]

In [ ]:
#EXCEPTION2 - passing it a boolean sequence will also give you rows (more on this later)
demo_df2[[True, True, False, False, False, True, True, True]]

However, you are probably going to want to do more complex selection than that at some point. Which is where the **.loc** and **.iloc** methods comes in.  

loc allows you to select a chunk of a dataframe via the index (rows) and column names. iloc allows you to do the same, but with integers representing the position within the datframe.

In [ ]:
#loc allows you to specify row names and row columns (always in that order). You can pass a single value or a list for either:
demo_df2.loc['B5443',['Name','Age','Height']]

In [ ]:
#iloc allows you to specify row names and row columns. You can also pass a slice here:
demo_df2.iloc[3:6,4]

In [ ]:
#you can also combine them, but this is frowned upon and you may be sent to Python jail. 
demo_df2.iloc[:,0:4].loc[['T5434','B1123'],:]

**Conditional selection** is a very useful technique which allows you to select data based on some criteria. The mechanism was covered in the last session, whereby you create a sequence of boolean values, which are used to select rows.

In [ ]:
#this line of code produces series of boolean values. The value is true where the Age is geater than 30. 
demo_df2['Age'] >30

In [ ]:
#If we use that code as an input to the index, the list of boolean values is used to select rows from the data table,
#returning each row that meets that criteria. THis is very useful for filtering data. 
demo_df2[demo_df2['Age'] >30]

In [ ]:
#you can add multiple criteria
demo_df2[(demo_df2['Age'] >30) & (demo_df2['Height'] >1750)]

In [ ]:
#And even do it with partial strings by using 'str.contains'
demo_df2[demo_df2['Name'].str.contains('ne')]

In [ ]:
#We are going to use the dataset we imported earlier  which contains nutritional info for cereals. If you didn't complete that task, the code to do it is here:
file_location = "https://raw.githubusercontent.com/nhs-pycom/coding-club-IntroPython-5/main/cereal.csv"
cereal_df = pd.read_csv(file_location, index_col = 'name')
cereal_df.head()

In [ ]:
#Tasks 
#67) Drop the entry for 'Raisin Bran' from the dataframe

In [ ]:
#68) Find which has higher sugar content, Cocoa Puffs or Wheaties?

In [ ]:
#69) Return every cereal name that contains 'bran'. Remember the name column has been assigned as the index!

In [ ]:
#70) Return details for all cereals that have a higher than average protein content